# --- FICHIERS D'ENVIRONNEMENT ---
.env
.env.local
.env.*.local

# --- FICHIERS DE COURS ---
*.pdf
cours/

# --- C / C++ ---
*.o
*.out
*.exe
*.obj
*.dll
*.so
*.dylib
*.a

# --- PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
env/
venv/

# --- NODE.JS ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# --- LOGS ---
*.log
logs/
*.pid
*.seed
*.pid.lock

# --- SYSTEME / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

SAE_Concevoir_realiser_carte_a_puce-2.pdf
cours/

